

      <table style="width=80%">
	  <tr>
	    <td><b>Reviewer</b></td>
	    <td><b>Rating</b></td>
	    <td><b>Comment</b></td>
	  </tr>
      <tr ng-repeat="phone in reviews">

	  <td>{{phone.reviewer}}</td>
      <td>{{phone.rating}}</td>
	  <td>{{phone.comment}}</td>
	  </tr>

      </table>

