
      <!--Sidebar content-->

      Search: <input ng-model="query">
      Sort by:
      <select ng-model="orderProp">
        <option value="name">Alphabetical</option>
        <option value="age">Newest</option>
      </select>
      <!--Body content-->
		<br><br>
      <table>
	  <tr>
	    <td><b>Name</b></td>
	    <td><b>Brand</b></td>
	    <td><b>Country</b></td>
	  </tr>
      <tr ng-repeat="phone in coffees | filter:query | orderBy:orderProp">
	  <td><a href="#/phones/{{phone.id}}">{{phone.name}}</a></td>
      <td>{{phone.brand}}</td>
	  <td>{{phone.country}}</td>
      </tr>
      </table>

